.project
*/node-log.log
logs/*.log
*.log
!.gitignore
node_modules/*
node_modules_back/*
.project
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace
lib/doc/
lib-cov/
coverage.html
.DS_Store
.idea/*