<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Advanced DataView Example</title>

        <link rel="stylesheet" type="text/css" href="../../../resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="chooser.css" />
        <link rel="stylesheet" type="text/css" href="../../shared/example.css" />
        <script type="text/javascript" src="../../../bootstrap.js"></script>

        <script type="text/javascript" src="chooser.js"></script>
    </head>
    <body>
        <h1>Advanced DataView Example</h1> 
    	<p>This example shows loading a DataView in a Window.  Each item has a linked details view, and the DataView
        supports custom sorting and filtering.</p> 
        
    	<div id="buttons" style="margin:20px;">
    	   
    	</div> 
    	<div id="images" style="margin:20px;width:600px;">
    	   
    	</div>
    </body>
</html>