<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	
    <title>DataView Example</title>

    <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="../shared/example.css" />
    <link rel="stylesheet" type="text/css" href="data-view.css" />
    
    <script type="text/javascript" src="../../bootstrap.js"></script>
    <script type="text/javascript" src="data-view.js"></script>
</head>
<body>
    <h1>DataView Example</h1>
    <p>This example shows how to use an Ext.view.View.  It demonstrates editable labels (click<br />
    any of the photo labels), basic multi-select (using ctrl or shift) and drag selection.</p>
    <br />
    <p>The source for this example can be viewed by clicking on <a href="data-view.js">data-view.js</a>.  <br />
    It uses the plugins in the <a href="../ux/DataView/LabelEditor.js">../ux/DataView/LabelEditor.js</a> and <br />
    <a href="../ux/DataView/DragSelector.js">../ux/DataView/DragSelector.js</a> files.
    </p>
    <div id="dataview-example"></div>
</body>
</html>
