.icon-user {
    background-image: url(images/user.png) !important;
}

.icon-add {
    background-image: url(images/add.png) !important;
}

.icon-delete {
    background-image: url(images/delete.png) !important;
}

.x-ie6 .icon-user {
    background-image: url(images/user.gif) !important;
}

.x-ie6 .icon-add {
    background-image: url(images/add.gif) !important;
}

.x-ie6 .icon-delete {
    background-image: url(images/delete.gif) !important;
}