.item {
    float: left;
    padding: 8px;
    margin: 8px;
}

.item h3 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
}

.x-btn .direction-asc {
    background-image: url("../../../resources/themes/images/default/grid/sort_asc.gif");
    background-position: 4px 6px !important;
}

.x-btn .direction-desc {
    background-image: url("../../../resources/themes/images/default/grid/sort_desc.gif");
    background-position: 4px 6px !important;
}